
{% extends "base.html" %} {% load static %}
{% block title %}home{% endblock title %}
{% block content %}
<div class="container p-4">
    <div class="text-center">
        <img src="{% static 'images/flag.png' %}" alt="Nepal Flag" class="mb-2" width="100">
        <h4>नेपाल सरकार</h4>
        <h5>भौतिक पूर्वाधार तथा यातायात मन्त्रालय</h5>
        <h6>यातायात व्यवस्था विभाग</h6>
        <h4>सवारी परीक्षण कार्यालय, टेकु काठमाण्डौ</h4>
        <p>यातायात व्यवस्थापनको कार्य गर्नका लागि वि.सं. २०४१ मा यातायात व्यवस्था विभागको स्थापना भएको हो ।
            सवारी तथा यातायात व्यवस्था ऐन, २०४९, सवारी तथा यातायात व्यवस्था नियमावली, २०५४ को नीतिगत व्यवस्था
            वमोजिम मानिसको आवागमन र वस्तुहरुको ओसारपोसारको लागि सुरक्षित, भरपर्दो र सुलभ यातायात सेवा उपलब्ध
            गराउनु विभाग र मातहत कार्यालयहरुको मुख्य उद्देश्य रहेको छ ।</p>
    </div>
</div>
</div>
{% endblock content %}